@model ParameterDto 

<style>

    Test Type{
        margin-left: 100px;
        margin-top: 50px
    }

    select {
        transition: opacity 0.5s ease;
        color:blue;
    }

        select.hidden {
            opacity: 0;
            pointer-events: none;
            height: 0;
        }


    .topic-select-container {
        display: flex;
        align-items: center; /* Vertically center */
        gap: 10px; /* Space between topic and select */
        width: 500px;
        
             /*    height: 50px;
            font-size: 18px;
            padding: 50px;
            border-radius: 20px; */ 
    }

    .topic-title {
        font-weight: bold;
        font-size: 20px;
        /*  height: 100px; */
        /*   display: inline-block;
            vertical-align: middle;
            margin-right: 10px; */
        white-space: nowrap;
        align-items: center;
        margin-block-start: 10px;
    }

</style>

@{
    ViewData["Title"] = "Pathology Test Entry";
    var testTypes = new List<SelectListItem>
    {
   new SelectListItem { Text = "Lipid Profile", Value = "Lipid" },
        new SelectListItem { Text = "UFR", Value = "UFR" },
        new SelectListItem { Text = "LFT", Value = "LFT" },
        new SelectListItem { Text = "FBC", Value = "FBC" },
        new SelectListItem { Text = "Rheumatoid Factor", Value = "RheumatoidFactor" },
        new SelectListItem { Text = "C Reactive Protein", Value = "CReactiveProtein" },
        new SelectListItem { Text = "ESR(westergren)1st hour ", Value = "ESR" },
        new SelectListItem { Text = "S CREATININE ", Value = "SCREATININE " },
        new SelectListItem { Text = "S.G.O.T.(A.S.T)", Value = "S.G.O.T.(A.S.T)" },
        new SelectListItem { Text = "S.G.P.T.(A.L.T)", Value = "S.G.P.T.(A.L.T)" },
        new SelectListItem { Text = "BLOOD GLUCOSE - Random ", Value = "BloodGlucoseR" },
        new SelectListItem { Text = "WIDAL(SAT)  Test", Value = "WIDAL(SAT)" },
        new SelectListItem { Text = "Haemoglobin  ", Value = "Haemoglobin" },
        new SelectListItem { Text = "Rhematoid Factor  ", Value = "RhematoidFactor" },
        new SelectListItem { Text = "BLOOD GLUCOSE - Fasting ", Value = "BloodGlucoseF" },
        new SelectListItem { Text = "BLOOD GLUCOSE - Breakfast ", Value = "BloodGlucoseB" },
        new SelectListItem { Text = "BLOOD GLUCOSE - Lunch ", Value = "BloodGlucoseL" },
        new SelectListItem { Text = "BLOOD GLUCOSE - Dinner ", Value = "BloodGlucoseD" },
    };
}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    .report-container {
        width: 210mm;
        height: 297mm; /* A4 size */
        margin: 10mm auto;
        padding: 20mm;
        background: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
    }

    .header {
        text-align: center;
        margin-bottom: 20px;
    }

        .header h1 {
            margin: 0;
            font-size: 24px;
            color: blue;
        }

        .header p {
            margin: 5px 0;
            font-size: 16px;
            color: #555;
        }

    .details, .results {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 14px;
        font-size: 14px;
    }

        .details th, .details td, .results th, .results td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }

        .details th {
            background-color: #f9f9f9;
        }

        .results th {
            background-color: #e9ecef;
        }

    .footer {
        text-align: center;
        margin-top: 20px;
        font-size: 12px;
        color: #777;
    }
</style>

@using Laboratory.Web.Utility
<form asp-action="GeneratePdf" method="post">
@* <form method="post"> *@
    <br />
   @*  <input asp-for="OrderHeaderId" hidden /> *@

   

  

    <div class="report-container">
        <div class="header">
            <h1>SITHSETHA LABORATORY</h1>
           @*  <p>Diagnostic Lab Name</p> *@
            <p>Trincomalee Road, Mihinthalaya</p>
            <p>Contact: 071 810 16 45 | Email: sithsethalabo@gmail.com</p>
            <hr style="border: none; height: 3px; background-color:black;">
            <br />
        </div>
        <table class="details">
            <tr>
                <th>Patient Name</th>
                <td>@Model.PatientName</td>
                <th>Lab Number</th>
                <td>@Model.LabNumber</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>@Model.Age</td>
                <th>Ref Number</th>
                <td>@Model.RefNumber</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>@Model.Sex</td>
                <th>Collected Date</th>
                <td>@Model.CollectedDate</td>
            </tr>
             <tr>
                <th>Date Of Birth</th>
                <td>@Model.DOB</td>
                <th>Reported Date</th>
                <td>@Model.ReportedDate</td>
            </tr>
        </table>

        <div class="form-group">
            @* <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;"> Test Type</label>
            </div> *@
            
         @*    <div class="topic-select-container">
                <div class="topic-title">Test Type : </div>
                <select id="testType" name="TestType" class="form-control" onchange="showTestFields()">
                    <option value=""> Test Type </option>
                    @foreach (var testType in testTypes)
                    {
                        <option value="@testType.Value">@testType.Text</option>
                    }
                </select>
            </div> *@
            
            <div class="topic-select-container" style="margin-left: 100px; margin-top: 50px">
                <select id="testType" name="TestType" class="form-control" onchange="showTestFields()">
                <option value="">-- Select Test Type --</option >
               
                
                @foreach (var testType in testTypes)
                {
                    
                    <option value="@testType.Value">@testType.Text</option>
                }
                     
            </select>
            </div>
            <p id="result"></p>
           @*  <br /> *@
            <div id="dynamicFields">
                <!-- Dynamic fields will appear here -->
            </div>

        </div>
       @*  <div class="col-5 offset-2">
            <button type="submit">Generate PDF</button>
            <a asp-action="GeneratePdf" class="btn-primary btn form-control ">Download</a>
        </div> *@
        
        <div class="footer">
            <p>This is a computer-generated report and does not require a signature.</p>
        </div>
        @* <button type="submit" class="btn btn-primary">Submit</button> *@
    </div>
    

  @*   <button type="submit">Generate PDF</button>
    <button type="submit" class="btn btn-primary">Submit</button> *@

   @*  <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class="container row">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1 text-warning h3">
                        Order Summary
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 text-right mt-2">
                        <a asp-action="OrderIndex" class="btn btn-warning form-control btn-sm">Back to Orders</a>
                        <button type="submit">Generate PDF</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row my-1">
                                <div class="col-3">Patient Name</div>
                                <div class="col-9">
                                    <input asp-for="PatientName" readonly class="form-control" />
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">Phone</div>
                                <div class="col-9">
                                    <input asp-for="Phone" readonly class="form-control" />
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">Email</div>
                                <div class="col-9">
                                    <input asp-for="Email" readonly class="form-control" />
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">TotalCholesterol</div>
                                <div class="col-9">
                                    <input asp-for="TotalCholesterol" readonly class="form-control" />
                                </div>
                            </div>

                             <div class="row my-1">
                                <div class="col-3">LabNumber</div>
                                <div class="col-9">
                                    <input asp-for="LabNumber" readonly class="form-control" />
                                </div>
                            </div> *@

                           @*  <div class="row my-1">
                                <div class="col-3">Order Date</div>
                                <div class="col-9">
                                    <input value="@Model.OrderTime.ToShortDateString()" readonly class="form-control" />
                                </div>
                            </div> *@

                           @*  @if (User.IsInRole(SD.RoleAdmin))
                            {
                                <div class="row my-1">
                                    <div class="col-3">Session ID</div>
                                    <div class="col-9">
                                        <input asp-for="StripeSessionId" readonly class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Payment Intent ID</div>
                                    <div class="col-9">
                                        <input asp-for="PaymentIntentId" readonly class="form-control" />
                                    </div>
                                </div>
                            } *@
                           @*  <div class="row my-1">
                                <div class="col-3">Order Status</div>
                                <div class="col-9">
                                    <input asp-for="Status" readonly class="form-control" />
                                </div>
                            </div> *@

                        </div>
                       @*  <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-warning">Order Summary</span>
                            </h4>
                            <label class="bg-info text-dark text-center form-control my-2">Order Status - @Model.Status</label>

                            <ul class="list-group mb-3">
                                @foreach (var detail in Model.OrderDetails)
                                {
                                    <li class="list-group-item d-flex justify-content-between p-2">
                                        <div class="row container">
                                            <div class="col-8">

                                                <h6 class="my-0 text-white-50">@detail.TesttName</h6>
                                                <small class="text-muted">Price : @detail.Price.ToString("c")</small><br />
                                                <small class="text-muted">Quantity : @detail.Count</small>
                                            </div>
                                            <div class="col-4 text-end">
                                                <p class="text-success">@((detail.Count * detail.Price).ToString("c"))</p>
                                                <a asp-action="Result" asp-controller="Cart" class="btn btn-success form-control">Edit </a>
                                            </div>
                                        </div>
                                    </li>
                                }
                                <li class="list-group-item bg-primary">
                                    <div class="row container">
                                        <div class="col-6">
                                            <h5 class="text-white">TOTAL </h5>
                                        </div>
                                        <div class="col-6 text-end">
                                            <h5 class="text-white">@Model.OrderTotal.ToString("c")</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="form-group">
                                <label asp-for="TotalCholesterol" class="control-label"></label>
                                <input asp-for="TotalCholesterol" class="form-control" />
                                <span asp-validation-for="TotalCholesterol" class="text-danger"></span>
                            </div>

                           
                            @if (User.IsInRole(SD.RoleAdmin))
                            {
                                @if (Model.Status == SD.Status_Approved)
                                {
                                    <button asp-action="OrderReadyForPickup" asp-route-orderId="@Model.OrderHeaderId" type="submit" class="btn btn-success form-control my-1">Ready for Pickup</button>
                                }
                                @if (Model.Status == SD.Status_ReadyForPickup)
                                {
                                    <button asp-action="CompleteOrder" asp-route-orderId="@Model.OrderHeaderId" type="submit" class="btn btn-success form-control my-1">Complete Order</button>
                                }

                                if (Model.Status == SD.Status_Approved || Model.Status == SD.Status_ReadyForPickup)
                                {
                                    <button asp-action="CancelOrder" asp-route-orderId="@Model.OrderHeaderId" type="submit" class="btn btn-danger form-control my-1">Cancel Order</button>
                                }
                            }
                            
                        </div> *@
                @*         <button type="submit">Generate PDF</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit">Generate PDF</button> *@
    @* <a asp-action="GeneratePdf" class="btn-primary btn form-control ">Download</a> *@
</form>

@section Scripts {
    <script>

        
                  const select = document.getElementById("testType");
        const result = document.getElementById("result");

        select.addEventListener("change", function () {
            if (select.value) {
                result.textContent = "Test Type :           " + select.value;
                select.style.display = "none"; // 👈 Hides the select box
            }
        });
    




        function showTestFields() {
            const testType = document.getElementById("testType").value;
            const dynamicFields = document.getElementById("dynamicFields");
            dynamicFields.innerHTML = ""; // Clear previous fields

            if (testType === "Lipid") {
                dynamicFields.innerHTML = `

                                       <table class="results">
                    <thead>
                        <tr>
                            <th>Test</th>
                            <th>Result (mg/dL)</th>
                            <th>Reference Range (mg/dL)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Total Cholesterol</td>
                            <td>@Model.TotalCholesterol</td>
                            <td>125-200</td>
                        </tr>
                        <tr>
                            <td>HDL Cholesterol</td>
                            <td>@Model.HDL</td>
                            <td>40-60</td>
                        </tr>
                        <tr>
                            <td>LDL Cholesterol</td>
                            <td>@Model.LDL</td>
                            <td>100-129</td>
                        </tr>
                        <tr>
                            <td>Triglycerides</td>
                            <td>@Model.Triglycerides</td>
                            <td>50-150</td>
                        </tr>
                        <tr>
                            <td>VLDL</td>
                            <td>30</td>
                            <td>5-40</td>
                        </tr>
                    </tbody>
                </table>
                                        `;
            } else if (testType === "FBC") {
                dynamicFields.innerHTML = `

                                              <table class="results">
                            <thead>
                                
                                    <th>Test</th>
                                    <th>Result (mg/dL)</th>
                                    <th>Reference Range (mg/dL)</th>
                                
                            </thead>
                            <tbody>
                                <tr>
                                    <td>WBC</td>
                                            <td>@Model.WBC</td>
                                    <td>4.0-10.0</td>
                                </tr>
                                <tr>
                                    <td>Neutrophils</td>
                                            <td>@Model.Neutrophils</td>
                                    <td>40-80</td>
                                </tr>
                                <tr>
                                    <td>Lymphocytes</td>
                                            <td>@Model.Lymphocytes</td>
                                    <td>20-40</td>
                                </tr>
                                <tr>
                                    <td>Eosinophils</td>
                                            <td>@Model.Eosinophils</td>
                                    <td>1-6</td>
                                </tr>
                                <tr>
                                    <td>RBC</td>
                                                    <td>@Model.RBC</td>
                                    <td>3.8-4.8</td>
                                </tr>
                                         <tr>
                                            <td>HB</td>
                                                            <td>@Model.RBC</td>
                                            <td>3.8-4.8</td>
                                        </tr>

                                                 <tr>
                                            <td>HCT</td>
                                                            <td>@Model.Hb</td>
                                            <td>3.8-4.8</td>
                                        </tr>

                                                 <tr>
                                            <td>MCV</td>
                                                            <td>@Model.HCT</td>
                                            <td>3.8-4.8</td>
                                        </tr>
                                                 <tr>
                                            <td>MCH</td>
                                                            <td>@Model.MCV</td>
                                            <td>3.8-4.8</td>
                                        </tr>
                                                 <tr>
                                            <td>Platelet Count</td>
                                                            <td>@Model.MCH</td>
                                            <td>3.8-4.8</td>
                                        </tr>
                                                 <tr>
                                                    <td>Platelet Count</td>
                                                                    <td>@Model.PlateletCount</td>
                                                    <td>3.8-4.8</td>
                                                </tr>
                                                 <tr>
                                                    <td>Platelet Count</td>
                                                                    <td>@Model.MPV</td>
                                                    <td>3.8-4.8</td>
                                                </tr>
                            </tbody>
                        </table>

                                        `;
            } else if (testType === "LFT") {
                dynamicFields.innerHTML = `
                                                     <table class="results">
                            <thead>
                                <tr>
                                    <th>Test</th>
                                    <th>Result </th>
                                    <th>Units </th>
                                    <th>Reference Range </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                            <td>ALP </td>
                                            <td>@Model.ALP </td>
                                            <td>U/L </td>
                                            <td>35-110</td>
                                </tr>
                                <tr>
                                            <td>GGT  </td>
                                            <td>@Model.GGT  </td>
                                            <td>U/L </td>
                                            <td>5-50</td>
                                </tr>
                                <tr>
                                            <td>LD   </td>
                                            <td>@Model.LD   </td>
                                            <td>U/L </td>
                                            <td>120-250</td>
                                </tr>
                                <tr>
                                            <td>AST    </td>
                                            <td>@Model.AST    </td>
                                            <td>U/L </td>
                                            <td>10-40</td>
                                </tr>
                                <tr>
                                            <td>ALT     </td>
                                            <td>@Model.ALT     </td>
                                            <td>U/L </td>
                                            <td>5-40</td>
                                </tr>
                                <tr>
                                            <td>TotalProtein      </td>
                                            <td>@Model.TotalProtein      </td>
                                            <td>U/L </td>
                                            <td>68-85</td>
                                </tr>
                                <tr>
                                            <td>Albumin       </td>
                                            <td>@Model.Albumin       </td>
                                            <td>U/L </td>
                                            <td>39-50</td>
                                </tr>

                                <tr>
                                            <td>Globulin        </td>
                                            <td>@Model.Globulin        </td>
                                            <td>U/L </td>
                                            <td>23-39</td>
                                </tr>
                            </tbody>
                        </table>


                                        `;
            } else if (testType === "UFR") {
                dynamicFields.innerHTML = `
                                                             <table class="results">
                                    <thead>
                                        <tr>
                                            <th>Test</th>
                                            <th>Result </th>
                                            <th>Units </th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                                            <td>Color  </td>
                                                            <td>@Model.Color  </td>
                                                            <td></td>
                                                            
                                                   
                                        </tr>
                                        <tr>
                                                            <td>SpecificGravity   </td>
                                                            <td>@Model.SpecificGravity   </td>
                                                            <td></td>
                                                           
                                                   
                                        </tr>
                                        <tr>
                                                            <td>Appearance    </td>
                                                            <td>@Model.Appearance    </td>
                                                            <td></td>
                                                           
                                                   
                                        </tr>
                                        <tr>
                                                            <td>PH     </td>
                                                            <td>@Model.PH     </td>
                                                            <td></td>
                                                           
                                                   

                                        </tr>
                                        <tr>
                                                            <td>Protien      </td>
                                                            <td>@Model.Protien      </td>
                                                            
                                                            
                                                            <td>mg/dL </td>
                                                           
                                                   
                                        </tr>
                                        <tr>
                                                            <td>Urobilinogen       </td>
                                                            <td>@Model.Urobilinogen       </td>
                                                            
                                                            <td>mg/dL </td>
                                                            
                                                   
                                        </tr>
                                        <tr>
                                                            <td>Ketones        </td>
                                                            <td>@Model.Ketones        </td>
                                                            <td>   </td>
                                                           
                                                   
                                                    
                                        </tr>

                                        <tr>
                                                            <td>BileSalt         </td>
                                                            <td>@Model.BileSalt         </td>
                                                            <td>         </td>
                                                           
                                                   
                                                   
                                        </tr>

                                                                                        <tr>
                                                                            <td>Bilirubin          </td>
                                                                            <td>@Model.Bilirubin          </td>
                                                                            <td>          </td>
                                                                           
                                                           
                                                </tr>

                                                                                        <tr>
                                                                            <td>Nitrite          </td>
                                                                            <td>@Model.Nitrite          </td>
                                                                            <td>          </td>
                                                                           
                                                           
                                                </tr>

                                                                                                <tr>
                                                                            <td>PusCells          </td>
                                                                            <td>@Model.PusCells          </td>
                                                                            
                                                            <td>/HPF </td>
                                                           
                                                           
                                                </tr>

                                                                                        <tr>
                                                                            <td>RedBloodCells          </td>
                                                                            <td>@Model.RedBloodCells          </td>
                                                                            
                                                            <td>/HPF </td>
                                                           
                                                            
                                                </tr>

                                                                                    <tr>
                                                                            <td>EpithelialCells          </td>
                                                                            <td>@Model.EpithelialCells          </td>
                                                                            
                                                            <td>/LPF </td>
                                                           
                                                            
                                                </tr>

                                                                                <tr>
                                                                            <td>Casts          </td>
                                                                            <td>@Model.Casts          </td>
                                                                            
                                                            <td>/LPF </td>
                                                           
                                                            
                                                </tr>

                                                                                    <tr>
                                                                            <td>Crystals          </td>
                                                                            <td>@Model.Crystals          </td>
                                                                            
                                                            <td>/HPF </td>
                                                           
                                                           
                                                </tr>

                                                 <tr>
                                                                                            <td>Bacteria           </td>
                                                                                            <td>@Model.Bacteria           </td>
                                                                    <td>U/L </td>
                                                                    
                                                        </tr>

                                    </tbody>
                                        </table> 


                                                `;
            } else if (testType === "RheumatoidFactor") {
                dynamicFields.innerHTML = `
                                                             <table class="results">
                                    <thead>
                                        <tr>
                                            <th>Test</th>
                                            <th>Result </th>
                                            <th>Units </th>
                                            <th>Reference Range </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                                            <td>RheumatoidFactor </td>
                                                            <td>@Model.RheumatoidFactor </td>
                                                    <td>U/L </td>
                                                    <td>35-110</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>


                                                        `;

            } else if (testType === "CReactiveProtein") {
                dynamicFields.innerHTML = `
                                                                     <table class="results">
                                            <thead>
                                                <tr>
                                                    <th>Test</th>
                                                    <th>Result </th>
                                                    <th>Units </th>
                                                    <th>Reference Range </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                                            <td>CReactiveProtein  </td>
                                                                            <td>@Model.CReactiveProtein  </td>
                                                            <td>U/L </td>
                                                            <td>35-110</td>
                                                </tr>

                                            </tbody>
                                        </table>


                                                                `;
            } else if (testType === "ESR") {
                dynamicFields.innerHTML = `
                                                                             <table class="results">
                                                    <thead>
                                                        <tr>
                                                            <th>Test</th>
                                                            <th>Result </th>
                                                            <th>Units </th>
                                                            <th>Reference Range </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                                                            <td>Esr1stHour   </td>
                                                                                            <td>@Model.Esr1stHour   </td>
                                                                    <td>U/L </td>
                                                                    <td>35-110</td>
                                                        </tr>

                                                    </tbody>
                                                </table>


                                                                        `;
            } else if (testType === "SCREATININE") {
                dynamicFields.innerHTML = `
                                                                             <table class="results">
                                                    <thead>
                                                        <tr>
                                                            <th>Test</th>
                                                            <th>Result </th>
                                                            <th>Units </th>
                                                            <th>Reference Range </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                                                            <td>SCreatinine   </td>
                                                                                            <td>@Model.SCreatinine   </td>
                                                                    <td>U/L </td>
                                                                    <td>35-110</td>
                                                        </tr>

                                                    </tbody>
                                                </table>


                                                                        `;
            } else if (testType === "") {
                dynamicFields.innerHTML = `
                                                                             <table class="results">
                                                    <thead>
                                                        <tr>
                                                            <th>Test</th>
                                                            <th>Result </th>
                                                            <th>Units </th>
                                                            <th>Reference Range </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                                                            <td>EstimateGfr   </td>
                                                                                            <td>@Model.EstimateGfr   </td>
                                                                    <td>U/L </td>
                                                                    <td>35-110</td>
                                                        </tr>

                                                    </tbody>
                                                </table>


                                                                        `;
            } else if (testType === "S.G.O.T.(A.S.T)") {
                dynamicFields.innerHTML = `
                                                                             <table class="results">
                                                    <thead>
                                                        <tr>
                                                            <th>Test</th>
                                                            <th>Result </th>
                                                            <th>Units </th>
                                                            <th>Reference Range </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                                                            <td>SgotAST   </td>
                                                                                            <td>@Model.SgotAST   </td>
                                                                    <td>U/L </td>
                                                                    <td>35-110</td>
                                                        </tr>

                                                    </tbody>
                                                </table>


                                                                        `;
            } else if (testType === "S.G.P.T.(A.L.T)") {
                dynamicFields.innerHTML = `
                                                                                     <table class="results">
                                                            <thead>
                                                                <tr>
                                                                    <th>Test</th>
                                                                    <th>Result </th>
                                                                    <th>Units </th>
                                                                    <th>Reference Range </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                                                            <td>SgptALT    </td>
                                                                                                            <td>@Model.SgptALT    </td>
                                                                            <td>U/L </td>
                                                                            <td>35-110</td>
                                                                </tr>

                                                            </tbody>
                                                        </table>


                                                                                `;
            } else if (testType === "BloodGlucoseR") {
                dynamicFields.innerHTML = `
                                                                                     <table class="results">
                                                            <thead>
                                                                <tr>
                                                                    <th>Test</th>
                                                                    <th>Result </th>
                                                                    <th>Units </th>
                                                                    <th>Reference Range </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                                                            <td>RandomBloodSugar    </td>
                                                                                                            <td>@Model.RandomBloodSugar    </td>
                                                                            <td>U/L </td>
                                                                            <td>35-110</td>
                                                                </tr>

                                                            </tbody>
                                                        </table>


                                                                                `;
            } else if (testType === "WIDAL(SAT)") {
                dynamicFields.innerHTML = `
                                                                                     <table class="results">
                                                            <thead>
                                                                <tr>
                                                                    <th>Test</th>
                                                                    <th>Result </th>
                                                                    <th>Units </th>
                                                                    <th>Reference Range </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                                                                    <td>SalmonellaTyphl     </td>
                                                                                                                    <td>@Model.SalmonellaTyphl     </td>
                                                                            <td>U/L </td>
                                                                            <td>35-110</td>
                                                                </tr>
                                                                        <tr>
                                                                                                                            <td>SalmonellaTyphlH     </td>
                                                                                                                            <td>@Model.SalmonellaTyphlH     </td>
                                                                                    <td>U/L </td>
                                                                                    <td>35-110</td>
                                                                        </tr>
                                                                <tr>
                                                                                                                                    <td>SalmonellaParaTyphlI      </td>
                                                                                                                                    <td>@Model.SalmonellaParaTyphlI      </td>
                                                                                    <td>U/L </td>
                                                                                    <td>35-110</td>
                                                                        </tr>

                                                            </tbody>
                                                        </table>


                                                                                `;
            } else if (testType === "Haemoglobin") {
                dynamicFields.innerHTML = `
                                                                                     <table class="results">
                                                            <thead>
                                                                <tr>
                                                                    <th>Test</th>
                                                                    <th>Result </th>
                                                                    <th>Units </th>
                                                                    <th>Reference Range </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                                                            <td>Haemoglobin    </td>
                                                                                                            <td>@Model.Haemoglobin    </td>
                                                                            <td>U/L </td>
                                                                            <td>35-110</td>
                                                                </tr>

                                                            </tbody>
                                                        </table>


                                                                                `;
            } else if (testType === "BloodGlucoseF") {
                dynamicFields.innerHTML = `
                                                                                             <table class="results">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Test</th>
                                                                            <th>Result </th>
                                                                            <th>Units </th>
                                                                            <th>Reference Range </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                                                                            <td>BloodGlucose     </td>
                                                                                                                                <td>@Model.FastingBloodGlucose     </td>
                                                                                    <td>U/L </td>
                                                                                    <td>35-110</td>
                                                                        </tr>
                                                                                 <tr>
                                                                                                                                            <td>BreakFastSample      </td>
                                                                                                                                            <td>@Model.BreakFastSample      </td>
                                                                                            <td>U/L </td>
                                                                                            <td>35-110</td>
                                                                                </tr>
                                                                            <tr>
                                                                                                                                                            <td>LunchSample       </td>
                                                                                                                                                            <td>@Model.LunchSample       </td>
                                                                                                    <td>U/L </td>
                                                                                                    <td>35-110</td>
                                                                                        </tr>
                                                                                 <tr>
                                                                                                                                                                            <td>DinnerSample        </td>
                                                                                                                                                                            <td>@Model.DinnerSample        </td>
                                                                                                            <td>U/L </td>
                                                                                                            <td>35-110</td>
                                                                                                </tr>

                                                                    </tbody>
                                                                </table>


                                                                                        `;
            } else if (testType === "") {
                dynamicFields.innerHTML = `
                                                                                             <table class="results">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Test</th>
                                                                            <th>Result </th>
                                                                            <th>Units </th>
                                                                            <th>Reference Range </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                                                                    <td>Haemoglobin    </td>
                                                                                                                    <td>@Model.Haemoglobin    </td>
                                                                                    <td>U/L </td>
                                                                                    <td>35-110</td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>


                                                                                        `;
            } else if (testType === "") {
                dynamicFields.innerHTML = `
                                                                                             <table class="results">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Test</th>
                                                                            <th>Result </th>
                                                                            <th>Units </th>
                                                                            <th>Reference Range </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                                                                    <td>Haemoglobin    </td>
                                                                                                                    <td>@Model.Haemoglobin    </td>
                                                                                    <td>U/L </td>
                                                                                    <td>35-110</td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>


                                                                                        `;
            }
        }
    </script>
}